<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hashing And Encryption</title>
<link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
	<header id="header-menu">
		<ul>
			<li><a href="/hashing">Hashing</a></li>
			<li><a href="/hashing-usage">Hashing Usage</a></li>
			<li><a class="active" href="/enc">Encryption</a></li>
			<li><a href="/sig">Digital Signatures</a></li>
		</ul>
	</header>

	<h1>Shall we play more games?</h1>

	<p style="font-weight: bold;">1</p>
	<div id="game-container">
			<p><b>Note</b>, these algorithms are for demonstration only! they are not usable encryption
			schemes.</p>
		<p>
			<b>JavaScript Encryption function. Must return a byte array.</b>
			
		<form th:action="@{/set-enc-template}" th:object="${templateScript}"
			method="post" style="display: inline">
			<select id="templateScript" name="templateScript">
				<option th:each="template : ${templateScripts}"
					th:selected="${template == chosenTemplate}" th:text="${template}"
					th:value="${template}">
			</select>
			<button type="submit" style="width: 25%">Switch</button>

		</form>
		<form th:action="@{/enc-update-script}" method="post">

			<textarea id="script" name="script" rows="30" cols="70" style="width:100%"
				th:inline="text">[[${script}]]</textarea>
			<p>
				<button type="submit" style="width: 25%">Save</button>
			</p>
		</form>

		<form th:action="@{/encrypt}" method="post">

			<label for="message">Plaintext:</label><input id="message"
				name="message" th:value="${message}" size="30" /> <label for="key">Key
				(bits only, max 64 ** See Below):</label><input id="key" name="key"
				th:value="${key}" size="30" />

			<button type="submit">Compute</button>

		</form>
		<p th:if="${result!=null}">
			Original Plaintext (hex value): <span th:if="${result!=null}"
				th:text="${result}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<p th:if="${result!=null}">
			Ciphertext (encrypted) Result (hex value): <span
				th:if="${resultHex!=null}" th:text="${resultHex}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<p th:if="${result!=null}">
			Ciphertext (encrypted) Result (base64 value): <span
				th:if="${resultHex!=null}" th:text="${resultBase64}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<p th:if="${result!=null}">
			Ciphertext (encrypted) Result (attempted UTF-8): <span
				th:if="${resultUTF8String!=null}" th:text="${resultUTF8String}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<p th:if="${result!=null}">
			Ciphertext (encrypted) Result (binary value): <span
				th:if="${resultBinary!=null}" th:text="${resultBinary}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<p th:if="${result!=null}">
			Decrypted Plaintext: <span th:if="${decryptedMessage!=null}"
				th:text="${decryptedMessage}"
				style="border: 1px SOLID; padding: 5px; margin: 5px"></span>
		</p>
		<div id="game-container">
			<p style="font-weight: bold;">Can you encrypt the penguin (note,
				it will maintain its encrypted state, press reset to start over)</p>

			<table style="margin-left: auto; margin-right: auto" id="images">
				<tr>
					<th>Original</th>
					<th>Encrypted</th>
					<th>Decrypted</th>
				</tr>
				<tr>
					<td><img
						th:src="@{'data:image/jpeg;base64,'+${imageBase64Unencrypted}}" /></td>
					<td><img th:if="${imageBase64Encrypted != null}"
						th:src="@{'data:image/jpeg;base64,'+${imageBase64Encrypted}}" />
						<span th:if="${imageBase64Encrypted == null}">Nothing
							encrypted</span></td>
					<td><img th:if="${imageBase64Decrypted != null}"
						th:src="@{'data:image/jpeg;base64,'+${imageBase64Decrypted}}" />
						<span th:if="${imageBase64Decrypted == null}">Nothing
							decrypted</span></td>
				</tr>
				<tfoot>
					<tr>
						<td></td>
						<td><a th:if="${imageBase64Encrypted != null}"
							href="/enc-reset-encrypted-image" class="button">Reset
								Encrypted Image</a></td>
					</tr>
				</tfoot>
			</table>

		</div>

		<div id="game-container">
			<p style="font-weight: bold;">Keys To Try</p>
			<table id="keys">
				<tr>
					<th>Cipher</th>
					<th>Description</th>
					<th>Example Keys</th>
				</tr>
				<tr>
					<td>Caesar Cipher</td>
					<td>The binary key is converted to a number which represents the 'shift' e.g. 1 is
						converted to 1, 10 is converted to 2. You are limited to a max of
						4, so 100 is max</td>
					<td>[1], [10], [11], [100]</td>
				</tr>
				<tr>
					<td>Block Cipher</td>
					<td>The plaintext has to be evenly divisible by
						the key, e.g. if the plaintext was 8 bits, the key would need to be 2, 4, or 8 bits so it leaves
						no remainder when divided by. Remember, each character in the input plaintext is 1 byte and so 8 bits. Therefore 'Text' 
						has 4 bytes or 24 bits.</td>

					<td>[10110110]</td>
				</tr>
				<tr>
					<td>One-time-pad</td>
					<td>The key has to be the same size (in bits) as the input
						plaintext. Hence this is not going to work with the image (too many
						to enter)</td>

					<td>[10111111000010001111111101110010]</td>
				</tr>
				<tr>
					<td>Block-cipher-chaining (Experimental)</td>
					<td>The plaintext has to be evenly divisible by
						the key, e.g. if the plaintext was 8 bits, the key would need to be 2, 4, or 8 bits so it leaves
						no remainder when divided by. Remember, each character in the input plaintext is 1 byte and so 8 bits. Therefore 'Text' 
						has 4 bytes or 24 bits.</td>

					<td>[10110110]</td>
				</tr>
			</table>

		</div>


	</div>






</body>
</html>