@charset "UTF-8";

h1 {
	font-family: sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

#game-container {
	border: 1px SOLID GREY;
	padding: 10px;
	margin: 10px;
}

#header-menu li {
	float: left;
}

#header-menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#header-menu li a:hover {
	background-color: #5a49a8;
}

#header-menu .active {
	background-color: #04AA6D;
}

#header-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.button {
	background-color: #f44336;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#images th, td {
  padding: 15px;
}

#keys {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#keys td, #keys th {
  border: 1px solid #ddd;
  padding: 8px;
}

#keys tr:nth-child(even){background-color: #f2f2f2;}

#keys tr:hover {background-color: #ddd;}

#keys th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #898989;
  color: white;
}