@charset "UTF-8";

h1 {
	font-family: sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

#game-container {
	border: 1px SOLID GREY;
	padding: 10px;
	margin: 10px;
}

#header-menu li {
	float: left;
}

#header-menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#header-menu li a:hover {
	background-color: #5a49a8;
}

#header-menu .active {
	background-color: #04AA6D;
}

#header-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

